<div class="container-big-card">
    <a href="https://www.youtube.com/watch?v=hQ01th1G1AE">
    <div class="big-card-photo">
        <img
            src="teste.jpg"
            alt=""
            srcset=""
            height="200px"
        >
    </div>
    <div class="big-card-title">
        <h1>Titulo</h1>
    </div>
    <div class="big-card-description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum.</p>
    </div>
    </a>
</div>
