<div class="container-big-card">
    <a href="https://www.instagram.com/p/DIDG_hntUcK/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">
    <div class="big-card-photo">
        <img
            src="calouro.jpg"
            alt=""
            srcset=""
            height="200px"
        >
    </div>
    <div class="big-card-title">
        <h1>Visit to the PCT Guama laboratory - Science and Technology Park Guama</h1>
    </div>
    <div class="big-card-description">
        <p>During the Freshman Week promoted by the Academic Center of Biotechnology (CABIOTEC) of UFPA, the new students participated in a visit to the laboratory of the Park of Science and Technology (PCT) Guama. The activity aimed to bring freshmen closer to the scientific environment and present some of the structures and research developed in the park. During the visit, students were able to meet state-of-the-art equipment, talk to researchers and better understand the possibilities of action in the area of biotechnology, reinforcing the commitment of the course with practical and interdisciplinary training from the first moments of graduation.</p>
    </div>
    </a>
</div>
