<div class="container-small-card">
    <div class="small-card-content">
        <div class="small-card-photo">
            <img
                src="teste.jpg"
                alt=""
                srcset=""
                height="100px"
            >
    </div>
    <div class="small-card-title">
        <a href="https://www.youtube.com/watch?v=hQ01th1G1AE">
            <h1>Crunkz aprende JAVA!! EXTRA!!</h1>
        </a>
    </div>
</div>
    <div class="small-card-separator"><hr></div>
</div>
